{% extends 'base.html.twig' %}

{% block meta_description %}Retrouver notre article sur le sujet suivant: {{ article.title }} {% endblock %}

{% block title %}{{ article.title}}{% endblock %}

{% block body %}

    <div class="main-content px-5">

        <h1> {{article.title}} </h1>

        <p> {{article.catchPhrase}} <P>        

            <div class="article d-flex my-3">
                <a class="d-flex text-reset" href="{{ path('show_article_by_id', {id : article.id}) }}">
                <img src="{{ asset('build/images/' ~ article.picture) }}"/>
                
                <div class="d-flex flex-column ps-2">   
                    <h3>{{ article.author }} - {{ article.date|date("d-m-y") }} </h3>
                    <p>{{ article.chapo }} </p>
                </div>

            </div>
    </div>

    <div class="col-md-10 mx-auto">
        <h2 class="mb-5"> Nos derniers articles </h2>
        <div class="d-flex">   

            {% for relatedArticle in relatedArticles %}

                <div class="article d-flex my-3">
                    <a class="d-flex text-reset" href="{{ path('show_article_by_id', {id : relatedArticle.id}) }}">
                    <img src="{{ asset('build/images/' ~ relatedArticle.picture) }}"/>
                    
                    <div class="d-flex flex-column ps-2">   
                        <h4>{{ relatedArticle.title }} </h4>
                        <p> {{ relatedArticle.date|date("d-m-y") }} </p>
                        <p>{{ relatedArticle.chapo }} </p>
                    </div>

                </div>
        
            {% endfor %}
        </div>
    </div>    

{% endblock %}
