{% extends 'base.html.twig' %}

{% block title %}Nos articles{% endblock %}

{% block body %}

    <div class="main-content px-5">

        <h1> Nos articles liées à la catégorie <span class="text-primary"> {{ category.name }}</span></h1>

        {% for article in listArticles %}

            <div class="mt-3">
                <img width = 300 px src="{{ asset('build/images/' ~ article.picture) }}" alt="{{ article.chapo }}" title="{{ article.chapo }}"/>
                <p> {{ article.legendMainPicture}} </p>

                <div>
                    <h2> {{ article.title }} </h2>
                    <p> {{ article.chapo }} <p>
                </div>
            </div>    

        {% endfor %}

            <div class="navigation">
                {{ knp_pagination_render(listArticles) }}
            </div>

</div>

{% endblock %}
